<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://iambuilt.com/">I am Built</a> website
  is a site to promote healthy food, workout, and exercise choices.
  This is a test application for the website.
</p>