<div class="center hero-unit">
	<h1>Welcome to the I am Built web test app</h1>
	
	<h2>
		This is the home page for the
		<a href="http://iambuilt.com/">I am Built</a>
		test application.
	</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>