<footer class="footer">
  <small>
    <a href="http://iambuilt.com/">I am Built</a>
    test app by Oskar Winberg
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>